apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: demolongbow-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: demolongbow-app
  minReplicas: 2
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 50   # Scale when CPU > 50%
